@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;

    --brand-color: #000000;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --brand-color: #FFFFFF;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-family: 'Kode Mono', monospace;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.brand-selector {
  border-color: var(--brand-color) !important;
}

.brand-selector:focus-visible {
    --tw-ring-color: var(--brand-color) !important;
}


.menu-link.active {
  color: hsl(var(--foreground));
  border-bottom-color: var(--brand-color) !important;
  border-bottom-width: 2px;
}

.projects-background {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-image: repeating-linear-gradient(
        45deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0) 4px,
        var(--brand-color) 5px,
        var(--brand-color) 5.5px
    );
    opacity: 0.15;
    z-index: 0;
}
