rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'contact@cyber-club.net';
    }

    // Règle pour les profils utilisateurs
    // Un utilisateur peut créer/lire/modifier son propre profil.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId || isAdmin();
    }
    
    // Règle pour la collection des commandes, à la racine.
    match /orders/{orderId} {
        // N'importe quel utilisateur authentifié peut créer une commande,
        // à condition que le 'userId' dans le document corresponde à son propre ID.
        allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
        
        // L'utilisateur peut lire ses propres commandes.
        allow read: if resource.data.userId == request.auth.uid;
        
        // Seul l'administrateur peut lister, lire et mettre à jour le statut de TOUTES les commandes.
        allow list, read, update: if isAdmin();

        // Personne ne peut supprimer une commande (sécurité).
        allow delete: if false;
    }
  }
}
