
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'contact@cyber-club.net';
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if false; 
      match /prices/{priceId} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }
    
    match /orders/{orderId} {
      allow create: if request.auth != null; // Any authenticated user can create an order
      allow read: if request.auth.uid == resource.data.userId || isAdmin(); // User can read their own orders, admin can read all
      allow list: if isAdmin(); // Only admin can list all orders
      allow update: if isAdmin(); // Only admin can update orders (e.g., change status)
    }

  }
}
